{% extends './base.html' %} {% block title %} Editar curso {% endblock %}
{% block body %}
<div class="row">
  <div class="col-md-4 offset-md-4">
    <h2>Editar curso</h2>
    <div class="card py-1">
      <div class="card-body">
        <form action="/edicionCurso/" method="POST">
          {% csrf_token %}
          <div class="form-group">
            <input
              type="text"
              id="txtCodigo"
              name="txtCodigo"
              value="{{curso.codigo}}"
              class="form-control"
              placeholder="Código"
              minlength="1"
              maxlength="8"
              readonly
            />
          </div>
          <div class="form-group">
            <input
              type="text"
              id="txtNombre"
              name="txtNombre"
              value="{{curso.nombre}}"
              class="form-control"
              placeholder="Nombre"
              minlength="2"
              maxlength="50"
              required
            />
          </div>
          <div class="form-group">
            <input
              type="number"
              id="numCreditos"
              name="numCreditos"
              value="{{curso.creditos}}"
              class="form-control"
              placeholder="Creditos"
              minlength="1"
              required
            />
          </div>
          <div class="form-group">
            <button type="submit" class="btn btn-outline-success btn-block">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
